<!--- ユーザーの投稿一覧 -->
<div　calss="card-list-container py-5">
  <% posts.each do |post| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_path(post.id) do %>
      <% image_tag post.get_image %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">
        <b>科目・資格名</b>: <%= post.category.name %>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>分野</b>: <%= post.field %>
      </li>
      <li class="list-group-item">
        <b>参考書・アプリ</b>: <%= post.references %>
      </li>
      <li class="list-group-item">
        <b>勉強方法</b>: <%= post.study_method %>
      </li>
      <li class="list-group-item">
        <b>総学習時間</b>: <%= post.total_study_time %>
      </li>
      <li class="list-group-item">
        <b>成果</b>: <%= post.achievement %>
      </li>
    </ul>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag post.enduser.get_profile_image(80,80), class:"rounded-circle" %>
        </div>
        <div class="col-sm-9">
          <span><i class="fas fa-user"></i> By <%= post.enduser.name %> | </span>
          <span><%= post.created_at.strftime('%Y/%m/%d') %> |</span>
          <sapn><i class="fa-regular fa-comment-dots"></i> | </sapn>
          <span><i class="fa-regular fa-heart"></i></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate posts %>
</div>
