<!-- エラーーメッセージ -->
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li class="alert alert-danger" role="alert"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!-- 新規投稿フォーム -->
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-body p-4">
        <%= form_with model: @post, method: :post do |f| %>
        <div class="row">
          <%= f.label :category, "科目・資格名", class:"control-label mr-3" %>
          <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), class: "form-select" %>
        </div>
        <div class="row my-1">
          <%= f.label :field, "分野", class:"control-label" %>
          <div class="input-group">
            <%= f.text_field :field,class:"form-control", value: "", placeholder: "例：二次関数" %>
          </div>
        </div>
       <div class="row my-1">
         <%= f.label :reference_book, "参考書・アプリ", class:"control-label my-1" %>
         <%= f.text_field :reference_book,class:"form-control", value: "", placeholder: "勉強に使用した参考書やアプリ" %>
       </div>
       <div class="row my-1">
         <%= f.label :study_method, "勉強方法", class:"control-label my-1" %>
         <%= f.text_area :study_method,class:"form-control" %>
       </div>
       <div class="row my-1">
         <%= f.label :total_study_time, "総学習時間", class:"control-label my-1" %>
         <div class="input-group">
           <%= f.text_field :total_study_time,class:"form-control" %>
           <span class="input-group-text">時間</span>
         </div>
       </div>
       <div class="row my-1">
         <%= f.label :achienvement, "成果", class:"control-label my-1" %>
         <%= f.text_area :achievement,class:"form-control"%>
       </div>
       <div class="row my-4">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
       <%= f.submit '投稿', class:"btn btn-success btn-block btn-info mt-4" %>
       <% end %>
      </div>
    </div>
  </div>
</div>