<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-body p-4">
        <%= form_with model:@post do |f| %>

        <div class="row">
          <%= f.label :field, "分野", class:"control-label" %>
          <%= f.text_field :field,class:"form-control", placeholder: "例：二次関数" %>
        </div>
       <div class="row">
         <%= f.label :references, "使用参考書・アプリ", class:"control-label" %>
         <%= f.text_field :references,class:"form-control" %>
       </div>
       <div class="row">
         <%= f.label :study_method, "勉強方法", class:"control-label" %>
         <%= f.text_area :study_method,class:"form-control" %>
       </div>
       <div class="row">
         <%= f.label :total_study_time, "総学習時間", class:"control-label" %>
         <%= f.text_field :total_study_time,class:"form-control" %>
       </div>
       <div class="row">
         <%= f.label :achienvement, "成果", class:"control-label" %>
         <%= f.text_area :achienvement,class:"form-control"%>
       </div>
       <%= f.submit '投稿する', class:"btn btn-success btn-block btn-info mt-4" %>
       <% end %>
      </div>
    </div>
  </div>
</div>