<div class="container">
  <div class="d-flex row">
    <div class="col-sm-4">
      <!--- カテゴリ(科目・資格検索) -->
      <%= render 'search_category', categories: @categories %>
    </div>
    <div class="col-sm-8">
      <h3 class="text-center">"<%= @category.name %>"のお気に入り数ランキング</h3>
      <!-- 同率順位表示 -->
      <% lastFavorite = 0 %>
      <% j = 1 %>
      <!--- いいね数ランキング -->
      <% @post_ranks.each.with_index(1) do |post,i| %>
      <!-- 投稿ステータス確認 -->
      <% if post.is_active %>
        <% if i == 1 %>
          <% lastFavorite = post.favorites.count %>
        <% end %>
        <% if post.favorites.count != lastFavorite %>
          <% j = i %>
          <h5 class="text-center mt-4">
            <% case j when 1 %>
              <i class="fas fa-crown" style='color: gold;'></i>第<%= j %>位
            <% when 2 %>
              <i class="fas fa-crown" style='color: silver;'></i>第<%= j %>位
            <% when 3 %>
              <i class="fas fa-crown" style='color: orange;'></i>第<%= j %>位
            <% else %>
              第<%= j %>位
            <% end %>
          </h5>
          <% lastFavorite = post.favorites.count %>
        <% else %>
          <% lastFavorite = post.favorites.count %>
          　<h5 class="text-center mt-4">
            　<% case j when 1 %>
              　<i class="fas fa-crown" style='color: gold;'></i>第<%= j %>位
            　<% when 2 %>
              　<i class="fas fa-crown" style='color: silver;'></i>第<%= j %>位
          　　  <% when 3 %>
                <i class="fas fa-crown" style='color: orange;'></i>第<%= j %>位
          　　  <% else %>
                第<%= j %>位
              <% end %>
            </h5>
        <% end %>
      <% end %>
        <div class="card border-warning mx-auto w-75 mt-4 shadow-lg p-3">
          <%= render 'list',post: post %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><%= paginate @post_ranks %></div>
  </div>
</div>

