<div class="card border-warning w-50 mx-auto mt-4 shadow-lg p-3">
  <!--投稿内容-->
  <%= render 'list', post: @post %>
  <hr>
  <div class="card-text">
    <%= form_with model: [@post, @post_comment] do |f| %>
    <div class="form-group">
      <%= f.label :comment, "コメントする", class:"control-label my-1" %>
      <%= f.text_area :comment, class: "form-control",rows: '5', placeholder: "コメントをここに" %>
    </div>
    <%= f.submit "送信する", class: "btn btn-info float-right my-1", local:true %>
    <% end %>
  </div>
  <hr>
  <!-- コメント一覧 -->
  <%= render 'public/post_comments/index', post: @post, comment_reply: @comment_reply %>

</div>