<div class="container"></div>
<div class="card border-warning w-50 mx-auto mt-4 shadow-lg p-3">
  <%= link_to post_path(@post.id) do %>
    <% image_tag @post.get_image %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <b>科目・資格名</b>: <%= @post.category.name %>
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>分野</b>: <%= @post.field %>
    </li>
    <li class="list-group-item">
      <b>参考書・アプリ</b>: <%= @post.reference_book %>
    </li>
    <li class="list-group-item">
      <b>勉強方法</b>: <%= @post.study_method %>
    </li>
    <li class="list-group-item">
      <b>総学習時間</b>: <%= @post.total_study_time %>時間
    </li>
    <li class="list-group-item">
      <b>成果</b>: <%= @post.achievement %>
    </li>
  </ul>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag @post.enduser.get_profile_image(80,80), class:"rounded-circle" %>
      </div>
      <div class="col-sm-9">
        <span>
          <%= link_to enduser_path(@post.enduser.id) do %> <i class="fas fa-user"></i> By <%= @post.enduser.name %> |
          <% end %>
        </span>
        <span><%= @post.created_at.strftime('%Y/%m/%d') %> |</span>
        <span>
          <i class="fa-regular fa-comment-dots"></i>
          <%= @post.post_comments.count %> |
        </span>
        <span>
          <% if @post.favorited_by?(current_enduser) %>
            <%= link_to post_favorite_path(@post), method: :delete do %>
            <i class="fa-regular fa-heart"></i> <%= @post.favorites.count %>
          <% end %>
          <% else %>
            <%= link_to post_favorite_path(@post), method: :post do %>
            <i class="fa-regular fa-heart"></i> <%= @post.favorites.count %>
            <% end %>
          <% end %>
        </span>
        <% if @post.enduser == current_enduser %>
        <br>
        <span><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-success" %></span>
        <span class="ml-1"><%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></span>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-text">
    <h5 class="ml-2">
      <%= @post.post_comments.count %>件コメント
    </h5>
    <% if @post.post_comments.present? %>
    <hr>
    <div class="media border p-1">
      <% @post.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.enduser.get_profile_image(80,80) %></p>
      <div class="media-body ml-2">
        <h6 class="mb-1">
          <%= post_comment.enduser.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </h6>
        <%= post_comment.comment %><br>
        <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn btn-sm btn-danger mt-2" %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <hr>
  <div class="card-text">
    <%= form_with model: [@post, @post_comment] do |f| %>
    <div class="form-group">
      <%= f.label :comment, "コメントする", class:"control-label my-1" %>
      <%= f.text_area :comment, class: "form-control",rows: '5', placeholder: "コメントをここに" %>
    </div>
    <%= f.submit "送信する", class: "btn btn-info float-right", local:true %>
    <% end %>
  </div>
  </div>
</div>