<div class="card border-warning w-50 mx-auto mt-4 shadow-lg p-3">
  <% image_tag @post.get_image %>
  <div class="card-body">
    <h5 class="card-title">
      <b>科目・資格名</b>: <%= @post.category.name %>
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>分野</b>: <%= @post.field %>
    </li>
    <li class="list-group-item">
      <b>参考書・アプリ</b>: <%= @post.reference_book %>
    </li>
    <li class="list-group-item">
      <b>勉強方法</b>: <%= @post.study_method %>
    </li>
    <li class="list-group-item">
      <b>総学習時間</b>: <%= @post.total_study_time %>時間
    </li>
    <li class="list-group-item">
      <b>成果</b>: <%= @post.achievement %>
    </li>
  </ul>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag @post.enduser.get_profile_image(80,80), class:"rounded-circle" %>
      </div>
      <div class="col-sm-9">
        <span>
          <%= link_to admin_enduser_path(@post.enduser.id) do %> <i class="fas fa-user"></i> By <%= @post.enduser.name %> |
          <% end %>
        </span>
        <span><%= @post.created_at.strftime('%Y/%m/%d') %> |</span>
        <span>
          <i class="fa-regular fa-comment-dots"></i>
          <%= @post.post_comments.count %> |
        </span>
        <span>
          <i class="fa-regular fa-heart"></i> <%= @post.favorites.count %>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-text">
    <h5 class="ml-2">
      <%= @post.post_comments.count %>件コメント
    </h5>
    <% if @post.post_comments.present? %>
    <hr>
    <div class="media border p-1">
      <% @post.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.enduser.get_profile_image(80,80) %></p>
      <div class="media-body ml-2">
        <h6 class="mb-1">
          <%= post_comment.enduser.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </h6>
        <%= post_comment.comment %><br>
        <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn btn-sm btn-danger mt-2" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<%= form_with model: @post, url: admin_post_path(@post), method: :patch do |f| %>
<p class="status text-center mt-3">
  投稿ステータス
  <span class="text-success ml-3">
    <%= f.radio_button :is_active, true, class:"ml-4" %>
    <%= f.label :is_active, "公開", value: "ture" %>
  </span>
  <span class="text-secondary ml-3">
    <%= f.radio_button :is_active, false, class:"ml-2" %>
    <%= f.label :is_active, "非公開", value: "false" %>
  </span>
  <span>
    <%= f.submit "変更を保存", class:"btn btn-sm btn-success ml-4" %>
  </span>
</p>
<% end %>