<h4 class="text-center my-5 mx-5">登録ユーザー一覧</h4>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-sm-12">
      <table class="table">
        <thead class="thead">
          <tr>
            <th>ユーザーID</th>
            <th>プロフィール画像</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
      </thead>
      <% @endusers.each do |enduser| %>
  <tr>
    <td>
      <%= link_to admin_enduser_path(enduser.id) do %>
      <%= enduser.id %>
      <% end %>
    </td>
    <td><%= image_tag enduser.get_profile_image(50,50) %></td>
    <td><%= enduser.name %></td>
    <td><%= enduser.email %></td>
    <td>
      <% if enduser.is_active %>
        <p class="text-success"><b>有効</b></p>
      <% else %>
        <p class="text-secondary"><b>利用停止</b></p>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
    </div>
  </div>
</div>

