<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h5 class="text-center my-5 mx-5"><%= @enduser.name %>さんのユーザー情報</h5>
      <table class="table table-borderless">
        <tr>
          <th>ユーザーID</th>
          <td><%= @enduser.id %></td>
        </tr>
        <tr>
          <th>プロフィール画像</th>
          <td><%= image_tag @enduser.get_profile_image(60,60) %></td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= @enduser.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @enduser.email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <% if @enduser.is_active %>
              <p class="text-success"><b>有効</b></p>
            <% else %>
              <p class="text-secondary"><b>利用停止</b></p>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= link_to "編集する", edit_admin_enduser_path(@enduser), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-8">
      <!--- ユーザー個人の投稿一覧 -->
      <h4 class="text-center my-3 mx-5"><%= @enduser.name %>さんの投稿一覧</h4>
      <div　calss="card-list-container py-5">
        <%= render 'admin/posts/list', posts: @posts %>
      </div>
    </div>
  </div>
</div>


