<div class="container"></div>
<!--- ユーザープロフィール -->
<div>
    <%= image_tag @enduser.get_profile_image(100,100) %>
  <h5><%= @enduser.name %></h5>
  <h6><%= @enduser.email %></h6>
  <% if @enduser == current_enduser %>
  <%= link_to "プロフィール編集", edit_enduser_path(@enduser.id) %>
  <% end %>
</div>

<!--- ユーザーの投稿一覧 -->
<%= render 'public/posts/list', posts: @posts %>