<!--- ユーザープロフィール -->
<div>
  <h4 class="mt-5 mb-2">ユーザープロフィール</h4>
  <%= image_tag @enduser.get_profile_image(100,100) %>
  <h5><%= @enduser.name %></h5>
  <% if @enduser == current_enduser %>
  <p><%= @enduser.email %></p>
  <p>
    <%= link_to "プロフィール編集", edit_enduser_path(@enduser.id) %>
  </p>
  <p>
    <%= link_to "お気に入り投稿一覧", posts_favorites_path(enduser_id: @enduser.id) %>
  </p>
  <% end %>
</div>

<h4 class="text-center mt-5"><%= @enduser.name %>さんの投稿一覧</h4>
<!--- ユーザーの投稿一覧 -->
<div　calss="card-list-container py-5">
  <%= render 'public/posts/list', posts: @posts %>
  <%= render 'public/posts/inappropriate', posts: @posts %>
</div>


