<!--- ユーザープロフィール -->
<div class="container">
  <div class="d-flex row">
    <div class="col-sm-4">
      <h4 class="mt-5 mb-2">ユーザープロフィール</h4>
      <%= image_tag @enduser.get_profile_image(100,100) %>
      <p class="mt-3">ユーザー名: <%= @enduser.name %></p>
      <% if @enduser == current_enduser %>
        <p>メールアドレス: <%= @enduser.email %></p>
        <p><%= link_to "プロフィール編集", edit_enduser_path(@enduser.id), class:"btn btn-primary" %></p>
        <p><%= link_to "お気に入り投稿一覧", posts_favorites_path(enduser_id: @enduser.id), class:"btn btn-success" %></p>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h4 class="text-center mt-5"><%= @enduser.name %>さんの投稿一覧</h4>
      <!--- ユーザーの投稿一覧 -->
      <div class="card-list-container py-5">
        <% @posts.each do |post| %>
          <div class="card border-warning mx-auto w-100 mt-4 shadow-lg p-3">
            <!--投稿ステータス確認-->
            <% if post.is_active %>
              <%= render 'public/posts/list', post: post, index: true  %>
            <% else %>
              <%= render 'public/posts/inappropriate', post: post %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>