<h4 class="text-center my-5 mx-5"><b>科目資格一覧・追加</b></h4>
<div class="container">
  <div class="row mb-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <%= form_with model: @category, url: admin_categories_path, method: :post do |f| %>
        <b><%= f.label :"科目資格名",class: "col-sm-3 control-label" %></b>
        <%= f.text_field :name ,class: "col-sm-5 control-label" %>
        <%= f.submit '新規登録', class: "btn btn-success ml-2" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>科目・資格</th>
            <th></th>
          </tr>
        </thead>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

