<div class="container"></div>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-o">ユーザーログイン</h4>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>メールアドレスとパスワードを入力してください。</p>
        </div>
        <%= form_with model: @enduser, url: enduser_session_path do |f| %>
　　　　<div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa-solid fa-envelope"></i>
            </span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class:"form-control" %>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa-solid fa-lock"></i>
            </span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class:"form-control" %>
        </div>
        <%= f.submit "サインイン", class:"btn btn-block btn-info mt-5" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
  <p class="border border-secondary bg-light" >ユーザー登録がお済みでない方</p>
  </div>
  <div class="row">
  <%= render "public/shared/links" %>から新規ユーザー登録してください。
  </div>
  <div class="text-center">
    <%= link_to 'ゲストログイン(閲覧用)', endusers_guest_sign_in_path, method: :post, class: "btn btn-block btn-success mt-4" %>
  </div>
</div>



