<!DOCTYPE html>
<html>
  <head>
    <title>StudyMethods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://kit.fontawesome.com/fc3bd943f3.js" crossorigin="annoymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= yield %>
  </body>
</html>
