<!DOCTYPE html>
<html>
  <head>
    <title>StudyMethods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/fc3bd943f3.js" crossorigin="annoymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png', class: "logo ml-0") %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if enduser_signed_in? %>
              <li class="nav-item">
                <%=link_to "マイページ", enduser_path(current_enduser.id), class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "新規投稿", new_post_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "投稿一覧", posts_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "ログアウト", destroy_enduser_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">

              </li>
              <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%=link_to "投稿ー覧", admin_homes_top_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "ユーザーー覧", admin_endusers_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "科目・資格一覧", admin_categories_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%=link_to "Home", root_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "新規登録", new_enduser_registration_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%=link_to "ログイン", new_enduser_session_path, class: "nav-link text-dark" %>
              </li>
              <% end %>
            </ul>
            <% if enduser_signed_in? %>
              <%=form_with url: posts_path, method: :get do |f| %>
              <%= f.text_field :"keyword", placeholder: "\uf002 キーワード検索", class: "fas align-bottom" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <!-- エラーメッセージ -->
        <% if notice.present? %>
          <% flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
        <% if alert.present? %>
          <% flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
